@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html{
    width: 100%;
    height: 100%;
}

body{
    transition: 1s;
    background-color: #252525;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 20px 30px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 1s;
}

li:hover{
    font-weight: 700;
    transition: .5s;
    transform: scale(1.2);
}

h2{
    text-align: center;
    width: 70vw;
    color: darkgray;
    margin: 0 auto;
    margin-top:20px;
}

a img{
    width: 30px;
    height: 30px;
}

a img:hover{
    transition: .5s;
    transform: scale(1.5);
}

.firstTitle{
    text-align: center;
    color: white;
    margin: 20px 0px;
}

.buttonsNav{
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.buttonsNav button{
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 34, 34);
    cursor: pointer;
}

.buttonsNav img{
    width: 50px;
    height: 50px;
    margin: 5px 0px;
}

.buttonsNav p{
    transition: 1s;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.tech{
    margin: 20px 0px;
    background-color: rgb(78, 78, 78);
    padding: 20px;
    margin-bottom: 200px;
}

.tech .projetos{
    display: grid;
    grid-template-columns: 40vw 40vw ;
    grid-row-gap: 40px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.tech .projetos div{
    display: flex;
    flex-direction: column;
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.26);
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
}

.tech .projetos div:hover{
    transition: 1s;
    transform: scale(1.1);
}

.tech .projetos img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.tech img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tech p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact{
    bottom: 0;
    position: relative;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.contact a{
    margin: 0px 20px;
}

#voltar{
    background-color: dimgray;
    border: 1px solid black;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.none{
    display: none;
}

#menu-burguer, #close-button{
    display: none;
}

.burguerON{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}