@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    transition: 1s;
    background-color: #252525;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 20px 30px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 1s;
}

li:hover{
    font-weight: 700;
    transition: .5s;
    transform: scale(1.2);
}

h2{
    text-align: center;
    width: 70vw;
    color: darkgray;
    margin: 0 auto;
    margin-top:20px;
}

a img{
    width: 30px;
    height: 30px;
}

a img:hover{
    transition: .5s;
    transform: scale(1.5);
}

.firstTitle{
    text-align: center;
    color: white;
    margin: 20px 0px;
}

.contact{
    bottom: 20px;
    position: relative;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;

}

.contact a{
    margin: 0px 20px;
}

.nav-bar-techs{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
}

.nav-bar-techs img{
    margin: 5px;
    width: 50px;
    height: 50px;
    padding: 10px;
    transition: 1s;
}

.opcoes-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opcoes-nav p{
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.356);
    color: white;
    border-radius: 0px 10px 10px 0px;
    transform: translate(-160%);
    transition: .7s;
    opacity: 0;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: center;
    margin-top: 50px;
}

.container div{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.container div:hover{
    transition: .5s;
    transform: scale(1.05);
}

.container div img{
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-radius: 10px;
}

.container div p{
    margin: 5px;
    font-size:20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

#modal{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}

#exemplo iframe{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45vw;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}

#titulo{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    font-weight: 900;
}

#resumo{
    text-align: center;
    font-size: 20px;
    margin: 0px 45px 10px 45px;
}

#data, #link{
    text-align: center;
    margin: 20px;
}

#link a {
    text-decoration: underline;
    color: blue;
}

#buttonClose{
    border: none;
    border-radius: 10px;
    background-color: #252525;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}

#buttonClose:hover{
    transition: .5s;
    background-color: lightgray;
    color: #252525;
    box-shadow: 0px 0px 5px #25252546;
}

.none, #menu-burguer, #close-button{
    display: none;
}

.burguerON{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}