@media (min-width:1500){
    p{
        width: 30vw;
    }
}

@media (max-width: 830px){
    p{
        width: 50vw;
    }

    #lista{
        display: none;
    }

    #menu-burguer{
        margin: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
        box-shadow: none;
        border-radius: 0px;
    }

    #close-button{
        margin: 10px;
        width: 40px;
        height: 40px;
        box-shadow: none;
    }
}

@media (max-width: 722px){
    #hello{
        font-size: 28px;
    }
}

@media (max-width: 605px){
    #hello{
        font-size: 25px;
    }

    p{
        width: 65vw;
        font-size: 15px;
    }
}

@media (max-width: 422px){
    #hello{
        font-size: 20px;
    }

    img{
        width: 150px;
        height: 150px;
    }

    p{
        width: 75vw;
        font-size: 13px;
    }
}

@media (max-width: 290px){
    #hello{
        font-size: 18px;
    }

    p{
        width: 85vw;
        font-size: 12px;
    }
}