@media (max-width:1000px) {
    .welcome{   
        font-size:75px ;
    }

    .resume{
        font-size:18px ;
    }

    .center img{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    #menu-burguer, #close-button{
        display: none;
    }
}

@media (max-width:860px){
    .center img{
        margin-left: 10px;
    }

    #menu-burguer, #close-button{
        display: none;
    }
}

@media (max-width:830px){
    .center img{
        display: none;
    }

    ul{
        display: none;
    }

    #menu-burguer{
        margin: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
    }

    #close-button{
        margin: 10px;
        width: 40px;
        height: 40px;
    }

    .burguerON{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width:470px){
    .welcome{   
        font-size:55px ;
    }

    .resume{
        font-size:16px;
        margin: 20px 50px;
    }
}

@media (max-width:430px){
    .resume{
        margin: 20px 60px;
    }
}

@media (max-width:390px){
    .resume{
        margin: 20px 75px;
    }
}

@media (max-width:360px){
    .welcome{
        font-size: 50px;
    }

    .resume{
        margin: 20px 90px;
    }
}

@media (max-width:300px){
    .welcome{
        font-size: 45px;
    }

    .resume{
        margin: 20px 120px;
    }
}